.melody{
    margin:20px 100px 60px 450px;
    padding-top: 30px;
}

.melody2{
    margin:20px 100px 60px 450px;
    flex-wrap: wrap;
    
}
.user_mypage{
    background-image: url(https://d1f5hsy4d47upe.cloudfront.net/2c/2cdebf849c0168078ba57c1c07213a3f_t.jpeg);
  }
  
  